.side-header{
    position:fixed;
    left: 0;
    bottom:0;
    top:70px;
    background-color: white;
    width:80px;
    z-index: 200;
    padding-top: 5px;
}
    
.sidebar-link{
    
    height:100px;
    margin-bottom:1px;
    display: flex;
   align-items: center;
   justify-content: center;
    flex-direction: column;

}
 
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
.sidebar-link img{
    height:25px;
    margin-bottom: 4px;
    

}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 11px;
    color:rgb(0, 0, 0);
}